header {
  background-color: black;
  display: block;

  padding-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}

main {
  background-color: black;
  display: block;
  padding: 2px 350px;
  padding-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-family: bebas neue;
  font-size: 36px;
  color: white;
}

h2 {
  font-family: bebas neue;
  font-size: 24px;
  color: red;
  margin-bottom: 2px;
  margin-top: 18px;
}

h3 {
  font-family: montserrat;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  margin-bottom: 4px;
}

h4 {
  font-family: montserrat;
  font-size: 12px;
  color: white;
  margin-bottom: 10px;
}

h5 {
  font-family: montserrat;
  font-weight: 400;
  font-size: 12px;
  color: white;
  margin-top: 10px 0;
  margin-bottom: 10px 0;
}

p {
  font-family: montserrat;
  font-size: 12px;
  color: white;
  margin: 3px 0;
  margin-bottom: 10px;
}

h6 {
  font-family: montserrat;
  font-size: 12px;
  color: white;
  margin: 1px;
}
